:root {
    --window-border-radius: 6px;
    --window-border-width: 6px;
    --window-border-color: lightblue;
    --window-border-outline-color: gray;
    --window-border-outline-width: 1px;
    --window-caption-height: 32px;
}

body {
    margin: 0;
    padding: 0;

    background-color: #000;

    width: 100vw;
    height: 100vh;
}

.window {
    position: absolute;

    &--bordered {
        display: flex;
        flex-direction: column;
        background-color: var(--window-border-color);
        border-radius: var(--window-border-radius);
        border: var(--window-border-outline-width) solid var(--window-border-outline-color);
        padding: var(--window-border-width);
    }

    &-caption {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        background-color: var(--window-border-color);
        width: 100%;
        height: var(--window-caption-height);
        min-height: var(--window-caption-height);
        max-height: var(--window-caption-height);

        &--title {
            font-size: 12px;
            font-family: sans-serif;
            pointer-events: none;
            user-select: none;
        }
    }
}